# Java
*.class
*.jar
*.war
*.ear

# Maven
/logs/
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
*.classpath
*.project
*.settings/

# IntelliJ IDEA
*.iml
.idea/
*/.idea/
out/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Windows
*.exe
*.dll
*.bat
*.cmd

# Others
*.log
*.tmp

# Ignore server build output
server/target/

# Ignore client build output
client/target/

front/node_modules/
front/package-lock.json

package-lock.json
node_modules/

temp
